.footer_container {
    color: #fff;
    text-align: center;
    small {
        font-size: 16px;
        display: block;
        padding-bottom: 20px;
    }
    p {
        margin-top: 15px;
        a {
            color: #fff;
        }
    }
    #icon_style{
        color: white !important;
    }
}
