$percentRadius: 50px;
$navbar_font_color: #757575;
$navbar_font_color: #757575;
$navbar_fontsize : 18px;
$navbar_fontWeight : bolder;
$navbar_marginbottom : 15px;
$navbar_skill_fontsize : 15px;
$navbar_skill_fontweight : normal;
$color-skill: #fff!important;
$background-color-skill: #009688!important;
$section_header_font_size : 30px;
$icon_main_color:#009688;
$font_family:"Roboto", sans-serif;